html{
  font-size: 16px;
}
body{
  background-image: linear-gradient(to right,#F1A10A,#342303)
}

article.row{
  margin-bottom: 3rem;
}
article.row:first-of-type{
  margin-top: 3rem;
}
article.row:last-of-type{
  margin-bottom: 0;
}

h2{
  color: #F1A10A;
}

nav{
  background: #2D2D2D;
}
.nav-link-header{
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
}
@media (max-width: 576px) {
  img{
    width: 300px;
    max-height: 300px;
  }
}

@media (min-width: 768px){
  .img-peq{
    width: 300px;
    max-height: 300px;
  }
  .img-med{
    width: 300px;
    max-height: 300px;
  }
}
